.main {
  padding-bottom: 7.5rem;
}
.modern-gallery {
  --_modern-gallery__gap: 2rem;

  display: grid;
}
.modern-gallery__card {
  display: grid;
  align-items: center;
  gap: var(--_modern-gallery__gap);

  margin-top: 2rem;
  margin-inline: 1rem;
}
.modern-gallery__subsection {
  display: grid;
  gap: var(--_modern-gallery__gap);
}

.your-day {
  --_your-day__gap: 1.3125rem;

  display: grid;
  gap: var(--_your-day__gap);

  margin-top: 7.5rem;
  margin-inline: 1rem;
}
.your-day__card {
  display: grid;
  gap: var(--_your-day__gap);

  margin-top: 1.5625rem;
}

.be-inspired {
  display: grid;
  gap: 1rem;

  margin-inline: 1rem;
  margin-top: 2rem;
}
.be-inspired__card {
  display: grid;
  align-content: center;
  gap: 1.5rem;

  padding-inline: 1.5rem;
  padding-block: 3rem;

  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}
.be-inspired__card .text--body-1 {
}

/* Tablet */
@media screen and (min-width: 768px) {
  .modern-gallery {
    --_modern-gallery__gap: 3rem;
    grid-template-columns: 437px auto;
  }
  .modern-gallery__card {
    align-content: center;
    margin-top: 0;
    margin-left: -3rem;
    margin-right: 2.5rem;
    gap: var(--_modern-gallery__gap);
  }
  .modern-gallery__subsection {
    gap: var(--_modern-gallery__gap);
  }
  .modern-gallery__img {
    width: auto;
    height: 100%;
  }
  .your-day {
    --_your-day__gap: 1.5rem;
    column-gap: 4.25rem;
    grid-template-columns: 1fr auto;
    margin-inline: 2.5rem;
  }
  .your-day__picture {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .your-day__card {
    align-content: center;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .be-inspired {
    grid-template-columns: 1.427fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.6875rem;

    margin-inline: 2.5rem;
    margin-top: 0.6875rem;
  }
  .be-inspired__grid-2 {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
  }
  .be-inspired__grid-3 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .be-inspired__grid-3 img {
    height: 100%;
  }
  .be-inspired__card {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    padding-inline: 1.75rem;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
}
