.main {
  padding-bottom: 3.5rem;

  background-color: var(--clr-neutral-900);
}
.button-container.container {
  --_container-margin: 0px;
}
.btn--home {
  position: absolute;
}
.our-location {
  display: grid;
  margin-top: 3rem;

  color: var(--clr-neutral-100);
}
.our-location__card {
  display: grid;
}
.our-location__title {
  margin-top: 1.25rem;
}
.our-location__street-address {
  margin-top: 3rem;

  color: var(--clr-accent-400);
}
.our-location .text--body-1 {
  margin-top: 1.25rem;
}

.location-map {
  height: 550px;
  background-size: cover;
  background-position: center;

  background-image: url("assets/mobile/image-map.png");
  background-image: -webkit-image-set(
    url("assets/mobile/image-map.png") 1x,
    url("assets/mobile/image-map@2x.png") 2x
  );
  background-image: image-set(
    url("assets/mobile/image-map.png") 1x,
    url("assets/mobile/image-map@2x.png") 2x
  );
}

.footer--bronze {
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
}
.footer--bronze .icon:hover {
  color: var(--clr-neutral-100);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .our-location {
    grid-auto-flow: column;
  }
  .button-container.container {
    --_container-margin: var(--container-margin);
  }
  .our-location__card {
    grid-auto-flow: row;
  }
  .our-location__title {
    margin: 0;
    width: 10ch;
  }
  .our-location__street-address {
    margin: 0;
  }
  .location-map {
    height: 600px;
    background-image: -webkit-image-set(
      url("assets/tablet/image-map.png") 1x,
      url("assets/tablet/image-map@2x.png") 2x
    );
    background-image: image-set(
      url("assets/tablet/image-map.png") 1x,
      url("assets/tablet/image-map@2x.png") 2x
    );
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .location-map {
    background-image: -webkit-image-set(
      url("assets/desktop/image-map.png") 1x,
      url("assets/desktop/image-map@2x.png") 2x
    );
    background-image: image-set(
      url("assets/desktop/image-map.png") 1x,
      url("assets/desktop/image-map@2x.png") 2x
    );
  }
}
