/*****************************************************************************
  Global Settings
 *****************************************************************************/
:root {
  --ff-display: "Big Shoulders Display", sans-serif;
  --fw-black: 900;
  --fw-extra-bold: 800;

  --ff-base: "Outfit", sans-serif;
  --fw-light: 300;

  --clr-accent-400: hsl(24, 56%, 63%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-700: hsl(0, 0%, 27%);
  --clr-neutral-900: hsl(0, 0%, 8%);

  --container-max-width: calc(1110px);
  --container-margin: 1rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*----------------------------------------------------------
  container

    constrain the maximum width on desktop and add a margin
    when within the max-width.
------------------------------------------------------------*/
.container {
  --_container-margin: var(--container-margin, 1.5rem); /* mobile is default */
  --_container-max-width: var(
    --container-max-width,
    1280px
  ); /* desktop max width */

  max-width: var(--_container-max-width);
  margin-inline: max(
    50vw - var(--_container-max-width) / 2,
    var(--_container-margin)
  );
}

/*****************************************************************************
  Resets
 *****************************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font: inherit;
  margin: 0;
}
#root,
#__next {
  isolation: isolate;
}
a {
  color: currentcolor;
}

/*****************************************************************************
  Icons
 *****************************************************************************/

.icon {
  user-select: none;
  cursor: pointer;
  transition: 150ms ease-in-out; /* soften hover transition, not so abrupt */
}
.icon--arrow-left {
  width: 10px;
  height: 24px;
  fill: currentcolor;
}
.icon--arrow-right {
  width: 10px;
  height: 24px;
  fill: none;
  stroke: currentcolor;
}
.icon--facebook {
  width: 20px;
  height: 20px;
  fill: currentcolor;
}
.icon--instagram {
  width: 20px;
  height: 20px;
  fill: currentcolor;
}
.icon--twitter {
  width: 20px;
  height: 17px;
  fill: currentcolor;
}
.icon--location {
  width: 66px;
  height: 88px;
  fill: currentcolor;
}
.icon--logo {
  width: 111px;
  height: 40px;
  fill: currentcolor;
}

/*****************************************************************************
  Typography
 *****************************************************************************/

/* Hero Section Title */
.heading--1 {
  display: block; /* required for line-height less than 1 */

  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  font-size: 3.75rem;
  line-height: 0.9167;
  text-transform: uppercase;
}
/* Secondary headings on first page */
.heading--2 {
  display: block; /* required for line-height less than 1 */

  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  font-size: 3.125rem;
  line-height: 0.9;
  text-transform: uppercase;
}
/* Main heading on Location page */
.heading--3 {
  display: block; /* required for line-height less than 1 */

  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  font-size: 3.125rem;
  line-height: 0.9;
  text-transform: uppercase;
}
/* Secondary headings on Location page */
.heading--4 {
  display: block; /* required for line-height less than 1 */

  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
}
/* Paragraph text */
.text--body-1 {
  font-family: var(--ff-base);
  font-weight: var(--fw-light);
  font-size: 1.125rem;
  line-height: 1.56;
}
/* Smaller text in Footer */
.text--body-2 {
  font-family: var(--ff-base);
  font-weight: var(--fw-light);
  font-size: 1rem;
  line-height: 1.625;
}
/* Verbatim line spacing for multi-line address */
.text--address {
  white-space: pre-line;
}
/* Button text */
.btn {
  font-family: var(--ff-display);
  font-weight: var(--fw-extra-bold);
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 3.64px;
  text-transform: uppercase;
}

/* Typography on Tablet */
@media screen and (min-width: 768px) {
  .heading--1 {
    font-size: 4.375rem;
    line-height: 0.9286;
  }
  .heading--3 {
    font-size: 3.4375rem;
  }
}

/* Typography on Desktop */
@media screen and (min-width: 1024px) {
  .heading--1 {
    font-size: 6rem;
    line-height: 0.9167;
  }
  .heading--2 {
    font-size: 3.75rem;
    line-height: 1;
  }
  /* Paragraph text */
  .text--body-1 {
    font-size: 1.375rem;
    line-height: 1.4545;
  }
}

/*****************************************************************************
  Layout
 *****************************************************************************/
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-light);
  font-size: 1.125rem;
  line-height: 1.56;

  color: var(--clr-neutral-900);
}

img {
  width: 100%;
}

.btn {
  --_clr-button-left: var(--clr-neutral-900);
  --_clr-button-right: var(--clr-accent-400);
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: stretch;
  align-items: center;
  border: 0;

  color: var(--clr-neutral-100);
  background-color: var(--_clr-button-left);

  user-select: none;
  cursor: pointer;
  transition: 150ms ease-in-out; /* soften hover transition */
}
.btn__text {
  padding-inline: 2rem;
}
.btn__arrow {
  display: grid;
  place-items: center;

  width: 3.5rem;
  height: 4.5rem;
  background-color: var(--_clr-button-right);
  transition: 150ms ease-in-out; /* soften hover transition */
}
.btn:hover {
  --_clr-button-left: var(--clr-accent-400);
  --_clr-button-right: var(--clr-neutral-900);
}
.btn--back-to-home {
  position: absolute;
}

.footer {
  display: grid;
  gap: 2.375rem;

  padding-block: 3rem;
}
.footer--black {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}
.footer .icon:hover {
  color: var(--clr-accent-400);
}
.social-icons {
  display: flex;
  gap: 1.25rem;
}

@media screen and (min-width: 768px) {
  :root {
    --container-margin: 2.5rem;
  }
  .footer {
    padding-block: 3.5rem;
    grid-auto-flow: column;
    gap: 4rem;
  }
  .footer__text {
    width: 25ch;
  }
  .social-icons {
    justify-self: right;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
}
