:root {
  --clr-neutral-100: hsl(0, 0%, 100%); /* mobile background, menu background */
  --clr-neutral-200: hsl(0, 0%, 98%); /* desktop background */
  --clr-neutral-500: hsl(0, 0%, 67.8%); /* Logos */
  --clr-neutral-700: hsl(0, 0%, 40.8%); /* Paragraph text, menu text */
  --clr-neutral-900: hsl(0, 0%, 8.2%); /* CTA Title, Logo, Button */

  --clr-accent-violet-400: hsl(243, 79.3%, 67.8%);
  --clr-accent-cyan-400: hsl(197, 65.9%, 57.5%);
  --clr-accent-yellow-400: hsl(50, 80.7%, 63.3%);
  --clr-accent-purple-400: hsl(277, 42.1%, 50.6%);

  --ff-base: "Epilogue", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

/********* Resets ****************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
button,
a,
ul,
li,
body {
  padding: 0;
  margin: 0;
  color: inherit;
}

p,
h1,
h2,
h3,
button,
a {
  font: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  user-select: none;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  font-style: normal;

  color: var(--clr-neutral-500);
  background-color: var(--clr-neutral-200);
}

/* Paragraph text, default body */
p {
  font-size: 1rem;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-style: normal;
  line-height: 26px;
  text-decoration: none;
  text-transform: none;
  color: var(--clr-neutral-700);

  text-align: center;
  margin-inline: 1rem;
  margin-top: 1rem;
}

/* CTA Button Text */
.btn {
  font-size: 1rem;
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.22px;
  text-decoration: none;
  text-transform: none;
}

/* Main title text */
.heading--1 {
  font-size: 2.25rem;
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  font-style: normal;
  line-height: 42px;
  letter-spacing: -0.5px;
  text-decoration: none;
  text-transform: none;
  color: var(--clr-neutral-900);

  text-align: center;
  margin-top: 3rem;
}

/* Menu Text */
.text-style-menu {
  font-size: 1rem;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-style: normal;
  line-height: 26px;
  text-decoration: none;
  text-transform: none;
}

/* Menu text */
.text-style-desktop-menu {
  font-size: 0.875rem;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-style: normal;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
}

/*************** Icons ***************/
.icon--snap-logo {
  content: url(images/logo.svg);
  width: 84px;
  height: 27px;
}
.icon--hamburger {
  content: url(images/icon-menu.svg);
  width: 32px;
  height: 18px;
}
.icon--close {
  content: url(images/icon-close-menu.svg);
  width: 26px;
  height: 26px;

  /* adjust centering so it matches the hamburger icon */
  margin-top: -4px;
  margin-right: 3px;
}
.icon--todo::before {
  content: url(images/icon-todo.svg);
  width: 14px;
  height: 16px;
  padding-inline: 1px;
  margin-right: 1rem;
}
.icon--calendar::before {
  content: url(images/icon-calendar.svg);
  width: 16px;
  height: 16px;
  margin-right: 1rem;
}
.icon--reminders::before {
  content: url(images/icon-reminders.svg);
  width: 13px;
  height: 17px;
  padding-inline: 1.5px;
  margin-right: 1rem;
}
.icon--planning::before {
  content: url(images/icon-planning.svg);
  width: 16px;
  height: 16px;
  margin-right: 1rem;
}
.logo--databiz {
  content: url(images/client-databiz.svg);
  width: 114px;
  height: 20px;
}
.logo--audiophile {
  content: url(images/client-audiophile.svg);
  width: 73px;
  height: 36px;
}
.logo--meet {
  content: url(images/client-meet.svg);
  width: 90px;
  height: 20px;
}
.logo--maker {
  content: url(images/client-maker.svg);
  width: 83px;
  height: 24px;
}

/************************************************
  Header
 ************************************************/

/**************** .header **********************/
.header {
  position: absolute;
  top: 0;
  width: 100%;
}
.header__logo {
  position: absolute;
  margin: 1rem;
}
body.modal .header__backdrop {
  display: flex;
  justify-content: flex-end;

  background: hsl(0, 0%, 0%, 0.7);
  height: 100vh;
}

/**************** .header-nav **********************/
.header-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 1rem;
}
body.modal .header-nav {
  background-color: var(--clr-neutral-100);
}

/**************** .header-nav__toggle... **********************/
.header-nav__toggle-label {
  cursor: pointer;
  user-select: none;
}
.header-nav__toggle-close {
  display: none;
}
.header-nav__list {
  display: none;
  width: 15rem;
  padding: 0.5rem;
  padding-top: 2rem;
  color: var(--clr-neutral-700);
}
.header-nav__list li {
  background-color: var(--clr-neutral-100);
}

.header-nav__list li + li {
  margin-top: 1rem;
}
.header-nav__list .header-nav__login {
  margin-top: 2rem;
  text-align: center;
}
.header-nav__list .header-nav__register button {
  width: 100%;
  padding-block: 0.5rem;
  text-align: center;
}

.header-nav__toggle:checked ~ .header-nav__toggle-open {
  display: none;
}
.header-nav__toggle:checked ~ .header-nav__toggle-close {
  display: inline;
}
.header-nav__toggle:checked ~ .header-nav__list {
  display: inline;
}

/**************** dropdown **********************/
.dropdown__menu {
  cursor: pointer;
  user-select: none;
}

.dropdown__menu::after {
  content: url(images/icon-arrow-down.svg);
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-left: 9px;
  transition: 200ms ease-in-out;
}
/*
.dropdown__toggle:checked ~ .dropdown__menu::after {
  transform: rotate(-180deg);
}
*/
.dropdown[aria-expanded="true"] .dropdown__menu::after {
  transform: rotate(-180deg);
}

.dropdown__list {
  display: none;
  padding-block: 0.5rem;
  padding-left: 1.5rem;
}
/*
.dropdown__toggle:checked ~ .dropdown__list {
  display: block;
}
*/
.dropdown__list li {
  margin-block: 1rem;
}
.dropdown[aria-expanded="true"] > .dropdown__list {
  display: block;
}

/************************************************
  Main
 ************************************************/

main .container {
  margin-top: 4.6875rem;
  display: grid;
  justify-items: center;
}

main .group {
  display: grid;
  justify-items: center;
}

main .btn {
  width: fit-content;
  margin-top: 1.5rem;
  padding-block: 0.65rem;
  padding-inline: 1.4rem;
  border-radius: 1rem;
}

main p {
  max-width: 400px;
}

.clients {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  zoom: 0.7;

  margin-top: 3rem;
  /*
  margin-bottom: 6rem;
  */
  padding: 1rem;
}

/************************************************
  Footer 
 ************************************************/

footer {
  display: grid;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/************************************************
  Components
 ************************************************/

/*************** Button **************/
.btn {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
  outline: 1px solid var(--clr-neutral-900);
  border: 0;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 1rem;

  cursor: pointer;
}
.btn--inverse {
  color: var(--clr-neutral-700);
  background-color: transparent;
  outline: 1px solid var(--clr-neutral-700);
}

/************************************************
  Utilities  
 ************************************************/

.modal {
  overflow: hidden;
}

.visually-hidden {
  display: none;
}

/************************************************
 ************************************************
  Desktop-specific overrides
 ************************************************
 ************************************************/
@media screen and (min-width: 40rem) {
  /* Header */
  .header-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .header__logo {
    margin: 1.5rem;
  }
  .header-nav__list {
    display: grid;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: 8rem;
  }
  .header-nav__list li + li {
    margin-block: 0;
  }
  .header-nav__toggle-label {
    display: none;
  }
  .header-nav__list {
    display: flex;
  }
  .header-nav__list .header-nav__login {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .dropdown {
    position: relative;
  }
  .dropdown__menu {
    background-color: var(--clr-neutral-200);
  }
  .dropdown__list {
    display: block;
    position: absolute;
    top: 2rem;
    width: fit-content;
    background-color: var(--clr-neutral-100);
    padding: 1.5rem;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
    border-radius: 10px;

    transform: scaleY(0%);
    transition: 200ms ease-in-out;
    transform-origin: top;
  }
  /*
  .dropdown__toggle:checked ~ .dropdown__list {
    transform: scaleY(100%);
  }
  */
  .dropdown[aria-expanded="true"] .dropdown__list {
    transform: scaleY(100%);
  }
  .dropdown__list--right-align {
    right: 0;
  }
  .dropdown__list li {
    margin-block: 0;
    width: max-content;
  }
  .dropdown__list li + li {
    margin-top: 1rem;
  }

  /* Main */
  main img {
    height: 640px;
  }
  .heading--1 {
    font-size: 5rem;
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    font-style: normal;
    line-height: 80px;
    letter-spacing: -1.11px;
    text-decoration: none;
    text-transform: none;
    text-align: left;
  }
  .btn {
    font-size: 1.125rem;
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.25px;
    text-decoration: none;
    text-transform: none;
  }
  main .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: flex-start;
    max-width: 1146px;
    margin-inline: auto;
    gap: 1rem;
  }
  main .container img {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
  main .group {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    align-content: flex-start;
    justify-items: flex-start;
    gap: 2rem;
  }
  main .group p {
    font-size: 1.125rem;
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-style: normal;
    line-height: 28px;
    text-decoration: none;
    text-transform: none;

    text-align: left;
    margin-inline: 0;
  }
}
