/****************** About Us ***********************/
.about-us {
  display: grid;
  align-content: center;
  gap: 1.5rem;
  padding-inline: 1.5rem;
  margin-top: 2.5rem;
  height: 400px;
  text-align: center;

  color: var(--clr-neutral-200);
  background-image: url(../assets/about/image-hero-whitecup-sm.jpg);
  background-size: cover;
  border-radius: 10px;
}
.about-us .heading--2 {
  text-transform: capitalize;
}

/*************** Our Commitment ********************/
.our-commitment {
  margin-top: 7.5rem;
  text-align: center;
}
.our-commitment__img {
  height: 400px;

  background-image: url(../assets/about/image-commitment-sm.jpg);
  background-size: cover;
  border-radius: 10px;
}
.our-commitment .heading--3 {
  margin-top: 3rem;
}
.our-commitment .p {
  margin-top: 1.875rem;
}

/************* Uncompromising Quality **************/
.uncompromising-quality {
  position: relative;
  margin-top: 12.375rem;
  height: 509px;

  text-align: center;
  color: var(--clr-neutral-200);
}
.uncompromising-quality::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 509px;
  background-image: url(../assets/about/bg-quality-sm.png);
  border-radius: 10px;
}
.uncompromising-quality__img {
  margin-inline: 1.5rem;
  transform: translateY(-50%);
  height: 156px;
  width: calc(100vw - 6rem);
  border-radius: 8px;
  background-image: url(../assets/about/image-quality-sm.jpg);
  background-size: cover;
}
.uncompromising-quality .heading--2 {
  margin-top: -1rem;
  margin-inline: 1.5rem;
}
.uncompromising-quality .p {
  margin-top: 1.5rem;
  margin-inline: 1.5rem;
}

/***************** Headquarters ********************/
.headquarters {
  margin-top: 7.5rem;
  display: grid;
  justify-items: center;
  color: var(--clr-neutral-700);
}
.headquarters__list {
  display: grid;
  justify-content: center;
}
.headquarters__list li {
  margin-top: 4.5rem;
  text-align: center;
  color: var(--clr-neutral-900);
}
.headquarters__list .heading--2 {
  margin-top: 3.1875rem;
  margin-bottom: 1.6875rem;
}

/*
  Tablet Form Factor
 */
@media screen and (min-width: 768px) {
  .menu__backdrop {
    padding-top: 2.5rem;
  }
  .about-us {
    margin-top: 3.3125rem;
    padding-left: 3.625rem;
    text-align: left;

    background-image: url(../assets/about/image-hero-whitecup-md.jpg);
  }
  .about-us .heading--2 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 2px;
  }
  .about-us .p {
    width: 48ch;
    opacity: 80%;
  }
  .our-commitment {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-column-gap: 4.3125rem;
    margin-top: 9rem;
    text-align: left;
  }
  .our-commitment__img {
    grid-row: 1 / -1;
    width: 281px;
    height: 470px;
    background-image: url(../assets/about/image-commitment-md.jpg);
    background-size: cover;
  }
  .our-commitment .heading--3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
  }
  .our-commitment .p {
    margin-top: 0;
  }
  .uncompromising-quality {
    margin-top: 19rem;
  }
  .uncompromising-quality::before {
    background-image: url(../assets/about/bg-quality-md.png);
    height: 488px;
  }
  .uncompromising-quality__img {
    height: 320px;
    width: calc(100vw - 12.5rem);
    margin-inline: 3.75rem;
    background-size: cover;
  }
  .uncompromising-quality .heading--2 {
    font-size: 2rem;
    margin: 0;
    margin-top: -6rem;
  }
  .uncompromising-quality .p {
    margin: 0;
    margin-top: 1.5rem;
    margin-inline: 4.625rem;
    opacity: 80%;
    text-align: center;
  }
  .headquarters {
    justify-items: flex-start;
    margin-top: 9rem;
  }
  .headquarters .heading--5 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  .headquarters__list {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .headquarters__list li {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding-top: 0;
  }
  .menu__backdrop {
    padding-top: 2.75rem;
  }
  .about-us {
    background-image: url(../assets/about/image-hero-whitecup-lg.jpg);
  }
  .about-us .heading--2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  .our-commitment {
    align-content: center;
    padding-inline: 5.3125rem;
    grid-column-gap: 7.8125rem;
  }
  .our-commitment__img {
    height: 520px;
    width: 445px;
    background-image: url(../assets/about/image-commitment-lg.jpg);
  }
  .our-commitment .heading--3 {
    align-self: flex-end;
  }
  .our-commitment .p {
    margin-top: 2rem;
    align-self: flex-start;
  }
  .uncompromising-quality {
    position: relative;
  }
  .uncompromising-quality::before {
    background-image: url(../assets/about/bg-quality-lg.png);
    height: 474px;
  }
  .uncompromising-quality__img {
    position: absolute;
    transform: translateY(-88px);
    right: 40px;
    background-image: url(../assets/about/image-quality-lg.jpg);
    height: 474px;
    width: 445px;
  }
  .uncompromising-quality .heading--2 {
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: 1px;
    padding-top: 5.5rem;
    margin-left: 5.5rem;
    text-align: left;
  }
  .uncompromising-quality .p {
    margin-top: 2rem;
    margin-left: 5.5rem;
    width: 58ch;
    text-align: left;
    opacity: 70%;
  }
  .headquarters.container {
    --_container-max-width: 1045px;
  }
}
