/**************** Resets ****************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
}

/**************** Global ****************/

:root {
  --ff-base: "Overpass", sans-serif;
  --ff-display: "Ubuntu", sans-serif;

  --fs-base: 1em;

  --fw-base-300: 300;
  --fw-base-600: 600;

  --fw-display-400: 400;
  --fw-display-500: 500;
  --fw-display-700: 700;

  /* Very light red (CTA hover background) */
  --clr-primary-300: hsl(355 100% 74%);

  /* Light red (CTA text) */
  --clr-primary-400: hsl(356 100% 66%);

  /* Very dark blue (headings) */
  --clr-secondary-700: hsl(208, 49%, 24%);

  /* White (text) */
  --clr-neutral-100: hsl(0, 0%, 100%);

  /* very light for mobile menu hr and bg */
  --clr-neutral-150: hsl(240, 7%, 94%);

  /* Grayish blue (footer text) */
  --clr-neutral-200: hsl(240 2% 79%);

  /* Very dark grayish blue (body copy) */
  --clr-neutral-700: hsl(207 13% 34%);

  /* Very dark black blue (footer background) */
  --clr-neutral-900: hsl(240 10% 16%);

  /* Background gradient - Intro/CTA mobile nav */
  --gradient-test: linear-gradient(to bottom right, red, blue);
  --gradient-cta: linear-gradient(
    135deg,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  --gradient-button: linear-gradient(
    to bottom right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );

  /* Background gradient - body */
  --gradient-body: linear-gradient(
    to bottom right,
    hsl(237, 17%, 21%) 0%,
    hsl(237, 23%, 32%) 100%
  );
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 4em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-base-300);
  font-size: var(--fs-base);

  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-100);
}
.container {
  max-width: 1110px;
  margin-inline: auto;
}

/************************************************************************/
/************************************************************************/

/* Main document heading */
.heading--1 {
  font-size: 2.25rem;
  font-family: "Overpass";
  font-weight: 600;
  font-style: normal;
  letter-spacing: -1.08px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  padding-inline: 2rem;
}

/* section heading */
.heading--2 {
  font-size: 1.75rem;
  font-family: "Overpass";
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.84px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  color: var(--clr-neutral-700);
}

/* section alternate heading */
.heading--3 {
  font-size: 2.5rem;
  font-family: "Overpass";
  font-weight: 600;
  font-style: normal;
  letter-spacing: -1.2px;
  text-decoration: none;
  text-transform: none;
  color: var(--clr-neutral-100);
}

/* subsection heading */
.heading--4 {
  font-size: 1.75rem;
  font-family: "Overpass";
  font-weight: 600;
  font-style: normal;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  padding-inline: 2rem;
  color: var(--clr-neutral-700);
  text-align: center;
}

/* paragraph text */
p {
  font-size: 1rem;
  font-family: "Overpass";
  font-weight: 300;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  margin-block: 1rem;
  margin-bottom: 2.5rem;
}

.p--inverse {
  color: var(--clr-neutral-100);
}

/* paragraph in hero section, to be applied on a p element */
.p--hero {
  font-size: 1.125rem;
  text-align: center; /* always center aligned regardless of media */
  padding-inline: 2rem;
  line-height: 23px;
}

/* Button Text */
.btn {
  font-size: 1rem;
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}

/* Footer primary menu */
.text-style-footer-menu {
  font-size: 1.125rem;
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: normal;
  line-height: 33px;
  text-decoration: none;
  text-transform: none;
}

/* Sub-menu of primary menu item */
.text-style-footer-submenu {
  font-size: 1.125rem;
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  line-height: 33px;
  text-decoration: none;
  text-transform: none;
}

/* Primary menu in header dropdown */
.text-style-dropdown-menu {
  font-size: 1.125rem;
  font-family: "Overpass";
  font-weight: 600;
  font-style: normal;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
}

/* Submenu in dropdown */
.text-style-dropdown-submenu {
  font-size: 1rem;
  font-family: "Overpass";
  font-weight: 600;
  font-style: normal;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
}

/* Hero paragraph  */
.text-style-desktop-p-hero {
  font-size: 1.25rem;
  font-family: "Overpass";
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}

/* Footer primary menu */
.text-style-desktop-footer-menu {
  font-size: 0.938rem;
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: normal;
  line-height: 33px;
  text-decoration: none;
  text-transform: none;
}

/* Submenu */
.text-style-desktop-footer-submenu {
  font-size: 0.938rem;
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  line-height: 33px;
  text-decoration: none;
  text-transform: none;
}

/* Primary dropdown */
.text-style-desktop-dropdown-menu {
  font-size: 1rem;
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}

/* Dropdown submenu */
.text-style-desktop-dropdown-submenu {
  font-size: 0.938rem;
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  line-height: 33px;
  text-decoration: none;
  text-transform: none;
}

/************************************************************************/
/************************************************************************/

a {
  font-family: var(--ff-display);
  font-weight: var(--fw-display-500);
  color: var(--clr-neutral-100);
}
button {
  font-family: var(--ff-display);
  font-weight: var(--fw-display-700);
}
.icon-logo {
  fill: var(--clr-neutral-100);
  display: inline-block;
  width: 110px;
  height: 40px;
}
.small-logo {
  zoom: 0.8;
}
.icon-hamburger {
  fill: var(--clr-neutral-100);
  display: inline-block;
  width: 32px;
  height: 18px;
}
.icon-close {
  fill: var(--clr-neutral-100);
  display: inline-block;
  width: 26px;
  height: 26px;
}

.icon-arrow-light {
  display: inline-block;
  width: 10px;
  height: 7px;
  stroke: var(--clr-primary-400);
}
.icon-arrow-dark {
  display: inline-block;
  width: 10px;
  height: 7px;
}
.btn {
  border-radius: 28px;
  border: none;
  height: 48px;
  width: 137px;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--clr-neutral-100);
}
.btn--secondary {
  background-color: transparent;
  outline: 1px solid var(--clr-neutral-100);
  color: var(--clr-neutral-100);
}
.btn--tertiary {
  background-image: var(--gradient-button);
  color: var(--clr-neutral-100);
}
.modal {
  overflow: hidden;
}
.header-nav a {
  color: var(--clr-neutral-900);
}
.dropdown {
  margin: 1.2em;
}
.dropdown__label {
  color: var(--clr-neutral-900);
  font-weight: var(--fw-display-700);
  cursor: pointer;
}
.dropdown__label:hover {
  color: var(--clr-neutral-200);
}
.dropdown__label img {
  fill: var(--clr-primary-400);
  stroke: var(--clr-primary-400);
}
.dropdown__toggle {
  display: none;
}
.dropdown__list {
  display: none;
  margin-block: 1em;
  padding-block: 1em;
  background-color: var(--clr-neutral-150);
  border-radius: 0.3rem;
}
.dropdown__list li {
  margin-block: 1em;
}
.dropdown__list a {
  color: var(--clr-neutral-700);
}
.dropdown__list a:hover {
  color: var(--clr-neutral-200);
}
.dropdown__toggle:checked ~ .dropdown__list {
  display: block;
}
.dropdown__toggle:checked ~ .dropdown__label .icon-arrow-light {
  transform: rotate(180deg);
}
.box-shadow {
  box-shadow: 0px 20px 40px hsla(224, 69%, 66%, 0.243);
}

/***************** Header ******************/
.header {
  position: absolute;
  top: 3.5rem;
  color: var(--clr-neutral-100);
  padding-inline: 1.5rem;
  width: 100%;
}
.header-nav {
  z-index: 999;
  display: none;
  background-color: var(--clr-neutral-100);
  padding: 1em;
  text-align: center;
  margin-top: 1.2em;
  border-radius: 5px;
  box-shadow: 0 20px 40px hsl(0 0% 0% / 25%);
}
.header-nav a:hover {
  color: var(--clr-neutral-200);
}
.header-nav hr {
  border: 1px solid var(--clr-neutral-150);
  margin-bottom: 1.25em;
}
.header-nav__toggle {
  display: none;
}
.header-nav__toggle-label {
  cursor: pointer;
  position: absolute;
  top: 0em;
  right: 1.5rem;
}
.header-nav--opened {
  position: relative;
  top: -4px;
  right: 3px;
}
.header-nav--opened {
  display: none;
}
.header-nav__toggle:checked ~ .header-nav {
  display: block;
}
.header-nav__toggle:checked ~ .header-nav__toggle-label .header-nav--opened {
  display: block;
}
.header-nav__toggle:checked ~ .header-nav__toggle-label .header-nav--closed {
  display: none;
}

/***************** Main ********************/

/***************** Hero ********************/
.hero {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  background-image: url(images/bg-pattern-intro-mobile.svg), var(--gradient-cta);
  background-size: 370%, 100%;
  background-position: 35% 33%;
  background-repeat: no-repeat;

  border-bottom-left-radius: 100px;
  padding-top: 12.25rem;
  height: 600px;
}
.hero__buttons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.hero .btn--primary {
  color: var(--clr-primary-400);
}
.hero .btn--primary:hover {
  color: var(--clr-neutral-100);
  background-color: hsl(0 0% 100% / 30%);
}
.hero .btn--secondary:hover {
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-300);
}
.hero__buttons .btn + .btn {
  margin-left: 1em;
}

.hero p {
  margin-top: 0.875rem;
}

/***************** Design ********************/
.design {
  padding: 1.5rem;
  margin-top: 4.75rem;

  background-image: url(/images/illustration-editor-mobile.svg);
  background-repeat: no-repeat;
  background-size: 400px auto;
  background-position-x: center;
  background-position-y: 100px;
}
.design__heading {
  margin-bottom: 25rem;
}
.design__container {
}

/************** Infrastructure *************/
.infrastructure {
  position: relative;
  margin-top: 200px;
}
.infrastructure__img {
  width: min(100%, 400px);
  position: absolute;
  /*
  top: -180px;
  */
  top: max(-45vw, -180px);
  margin-bottom: -210px;
}
.infrastructure__container {
  margin-inline: auto;
  max-width: 400px;
}
.infrastructure__background {
  position: absolute;
  z-index: -1;
  width: 100%;
  background-image: url(/images/bg-pattern-circles.svg), var(--gradient-body);
  background-repeat: no-repeat, no-repeat;
  background-position-x: center, left;
  background-position-y: -240px, top;
  background-size: 600px 600px, cover;
  height: 625px;
  border-radius: 0 100px;
}
.infrastructure__card {
  color: var(--clr-neutral-100);
  height: 625px;
  padding-top: 221px;
  padding-inline: 1.5rem; /* 24px */
  border-radius: 0 100px;
}

/***************** Simple ******************/
.simple {
  display: grid;
  text-align: center;
  padding-block: 2em;
}
.simple img {
  object-fit: none;
  object-position: center center;
  height: 400px;
}
.simple h3 {
  margin-block: 1em;
  padding-inline: 2em;
}
.simple p {
  margin-bottom: 3em;
  padding-inline: 2em;
}

/***************** Footer ******************/
.footer {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}
.footer__container {
  border-top-right-radius: 5rem;

  display: grid;
  justify-items: center;
}
.footer .icon-logo {
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.footer li {
  text-align: center;
}
.footer li + li {
  margin-top: 0.6rem;
}
.footer a {
  color: var(--clr-neutral-200);
  font-weight: var(--fw-base-300);
  font-size: 1.1rem;
}
.footer ul {
  margin-top: 2.5rem;
}
.footer ul li:first-of-type a {
  color: var(--clr-neutral-100);
}
.footer ul li:first-of-type {
  margin-bottom: 2rem;
}

@media screen and (min-width: 40rem) {
  /**************** Global ****************/
  h1,
  h2,
  h3,
  p {
    text-align: left;
    padding-inline: 0;
  }

  /* main document heading */
  .heading--1 {
    font-size: 4rem;
    font-family: "Overpass";
    font-weight: 600;
    font-style: normal;
    letter-spacing: -1.92px;
    text-decoration: none;
    text-transform: none;
  }

  /* section heading */
  .heading--2 {
    font-size: 2.5rem;
    font-family: "Overpass";
    font-weight: 600;
    font-style: normal;
    letter-spacing: -1.2px;
    text-decoration: none;
    text-transform: none;
  }

  /* section alternate heading */
  .heading--3 {
    font-size: 2.5rem;
    font-family: "Overpass";
    font-weight: 600;
    font-style: normal;
    letter-spacing: -1.2px;
    text-decoration: none;
    text-transform: none;
  }

  /* subsection heading */
  .heading--4 {
    font-size: 1.75rem;
    font-family: "Overpass";
    font-weight: 600;
    font-style: normal;
    line-height: 28px;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    padding-left: 0;
    padding-top: 1.5rem;
  }
  .btn--tertiary {
    color: var(--clr-primary-400);
    background-image: none;
    background-color: var(--clr-neutral-100);
  }
  .icon-arrow-light {
    stroke: var(--clr-neutral-100);
  }

  /***************** Header ******************/
  .small-logo {
    zoom: 1;
    margin-right: 3rem;
  }
  .icon-logo {
    width: 115px;
  }
  .dropdown {
    margin-block: 0;
    margin-right: 1.5rem;
  }
  .dropdown__list {
    background-color: var(--clr-neutral-100);
    position: absolute;
    padding: 1.5rem;
    margin-left: -1.5rem;
    width: 10.5rem;
    box-shadow: 0px 20px 40px hsla(224, 69%, 66%, 0.243);
  }
  .dropdown__list li a {
    color: var(--clr-neutral-900);
    font-size: 0.938rem;
    font-family: "Ubuntu";
    font-weight: 400;
    font-style: normal;
    line-height: 33px;
    text-decoration: none;
    text-transform: none;
  }
  .dropdown__list a:hover {
    color: var(--clr-neutral-200);
  }
  .header-nav .dropdown__label {
    color: var(--clr-neutral-100);
    opacity: 0.75;
  }
  .header-nav .dropdown__label:hover {
    opacity: 1;
  }
  .header-nav a {
    color: var(--clr-neutral-100);
  }
  .header {
    display: flex;
    align-items: center;

    margin-inline: 0;
    padding-inline: 0;
    max-width: 1110px;
    margin-left: max(0px, calc(50vw - 1110px / 2));

    top: 4rem;
  }
  .header-nav {
    all: unset;
    display: block;
    width: 100%;
  }
  .header-nav hr {
    display: none;
  }
  .header-nav__toggle-label {
    display: none;
  }
  .header-nav > ul {
    display: flex;
    align-items: center;
  }
  .header-nav__menu-spacer {
    margin-left: auto;
    margin-right: 2rem;
  }
  .header .btn--tertiary:hover {
    color: var(--clr-neutral-100);
    background-color: hsl(0 0% 100% / 30%);
  }

  /***************** Hero ********************/
  .hero {
    padding-top: 14.125rem;

    background-image: url(images/bg-pattern-intro-desktop.svg),
      var(--gradient-cta);
    background-size: 3175px, 100%;
    background-position: top -1340px right -1290px, top left;
  }

  /***************** Design ******************/
  .design {
    padding: 0;
    margin-top: 4.44rem;
    height: 882px;

    background-image: url(/images/illustration-editor-desktop.svg);
    background-position: left 54vw center;
    background-size: 920px auto;
  }
  .design__container {
    display: grid;
    max-width: 1100px;
    padding-inline: 10px;
    margin-inline: auto;
    align-content: flex-start;
    height: 100%;
  }
  .design__heading {
    padding-top: 79px;
    margin-bottom: 103px;
  }
  .design__card {
    width: 47%;
  }

  /************** Infrastructure *************/
  .infrastructure {
    position: relative;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-block: 0;
    margin: 0;
    border-radius: 0 100px;
    background-size: 100%;
    margin-block: 5rem;
  }
  .infrastructure__background {
    height: 400px;
    background-position-x: -210px, left;
    background-position-y: -500px, top;
    background-size: 1008px 1008px, cover;
  }
  .infrastructure__container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
  }
  .infrastructure__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: min(580px, 57vw);
    width: auto;
    margin: 0;
    padding: 0;
  }
  .infrastructure__card {
    color: white;
    display: grid;
    align-content: center;
    padding-top: 0;

    height: 400px;
    grid-column: 2 / -1;
  }
  .infrastructure__card p {
    margin-top: 1rem;
  }

  /***************** Simple ******************/
  .simple {
    grid-template-columns: 1fr 1fr;
    padding-block: 7rem;
    align-items: center;
  }
  .simple h3,
  .simple p {
    padding-inline: 0;
    max-width: 33rem;
  }
  .simple img {
    height: 800px;
    object-position: right;
  }

  /***************** Footer ******************/
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: left;
    padding-top: 2.5rem;
    max-width: 1110px;
    margin-inline: auto;
  }
  .footer {
    border-top-right-radius: 100px;
  }
  .footer li {
    text-align: left;
  }
  .footer li + li {
    margin-top: 0;
  }
  .footer a {
    font-weight: var(--fw-display-400);
    font-size: 0.9375rem;
    line-height: 2.2;
    opacity: 0.75;
  }
  .footer ul li:first-of-type a {
    opacity: 1;
  }
  .attribution {
    grid-column: 1 / -1;
    justify-self: center;
    margin-block: 1rem;
  }
  .footer .icon-logo {
    margin-top: 2.5rem;
  }
}
