:root {
  --clr-primary-200: hsl(178, 55%, 61%);
  --clr-primary-400: hsl(179, 81%, 29%);

  --clr-accent-400: hsl(25, 94%, 86%);

  --clr-neutral-100: hsl(43, 0%, 100%);
  --clr-neutral-200: hsl(43, 78%, 98%);
  --clr-neutral-300: hsl(40, 29%, 94%);
  --clr-neutral-400: hsl(26, 11%, 87%);
  --clr-neutral-700: hsl(215, 5%, 54%);
  --clr-neutral-900: hsl(215, 19%, 25%);
  --clr-gradient-title--1: hsla(43, 78%, 98%, 0) 0%, hsl(43, 78%, 98%) 100%;

  --ff-base: "Barlow", sans-serif;
  --ff-display: "Fraunces", serif;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

/********************************************************
  CSS Resets
 ********************************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
button,
body {
  margin: 0;
  padding: 0;
  font: inherit;
}
ul {
  list-style: none;
}
li {
  color: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

/********************************************************
  Fonts
 ********************************************************/
.title--1 {
  font-size: 2.5rem;
  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  line-height: 4.5rem;
  letter-spacing: 0.6px;
  font-style: normal;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  background: linear-gradient(hsl(43, 0%, 60%), hsl(43, 0%, 96%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading--1 {
  font-size: 2.5rem;
  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  line-height: 2.5rem;
  letter-spacing: 0.7px;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
.heading--2 {
  font-size: 1.75rem;
  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  line-height: 1.75rem;
  letter-spacing: 0.3px;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
.heading--3 {
  font-size: 2rem;
  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  line-height: 3rem;
  letter-spacing: 0.4px;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
.heading--4 {
  font-size: 1.75rem;
  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  line-height: 2rem;
  letter-spacing: 0.3px;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
.heading--5 {
  font-size: 1.5rem;
  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  line-height: 2rem;
  letter-spacing: 0.17px;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
.heading--6 {
  font-size: 1.5rem;
  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  line-height: 1.75rem;
  letter-spacing: 0.17px;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
.btn {
  font-size: 1.125rem;
  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  line-height: 1.5625rem;
  letter-spacing: 0.1px;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
.p {
  font-size: 0.938rem;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  line-height: 1.5625rem;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
.menu {
  font-size: 0.75rem;
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  line-height: 0.9375rem;
  letter-spacing: 0.92px;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}
.order {
  font-size: 1.5rem;
  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  line-height: 2.5rem;
  letter-spacing: 0.17px;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
.order__heading {
  font-size: 0.938rem;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  line-height: 1.5625rem;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}

/* Tablet Font Variants */
@media screen and (min-width: 768px) {
  .title--1 {
    font-size: 6rem;
    line-height: 4.5rem;
    letter-spacing: 7.6px;
  }
  .heading--1 {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 1.05px;
  }
}

/* Desktop Font Variants */
@media screen and (min-width: 1024px) {
  .title--1 {
    font-size: 9.375rem;
    line-height: 1;
    letter-spacing: 14.2px;
  }
  .heading--1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: 3.6px;
  }
  .heading--2 {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.6px;
  }
  .heading--3 {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 0.4px;
  }
  .p {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

/********************************************************
  Structure
 ********************************************************/

/*----------------------------------------------------------
  container

    constrain the maximum width on desktop and add a margin
    when within the max-width.
------------------------------------------------------------*/
.container {
  --_container-margin: 1.5rem; /* mobile is default */
  --_container-max-width: 1280px; /* desktop max width */

  max-width: var(--_container-max-width);
  margin-inline: max(
    50vw - var(--_container-max-width) / 2,
    var(--_container-margin)
  );
}

body {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-900);

  font-size: 0.938rem;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  line-height: 1.5625rem;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}

/************ Header ***************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}
.header img {
  display: inline-block;
  height: fit-content;
  zoom: 0.6878;
}
.menu__toggle {
  border: 0;
  user-select: none;
  cursor: pointer;
}
.menu__toggle::before {
  content: url(assets/icon-hamburger.svg);
}
.menu__options {
  display: none;
  color: var(--clr-neutral-700);
}

/************ Hero Section ***************/
.hero {
  display: grid;
  align-content: center; /* vertically center everything so we have even top/bottom margin */
  justify-items: center; /* horizontally align within grid */
  gap: 1.5rem;

  margin-top: 2.5rem;

  padding-inline: 1.5rem;

  background-image: url(assets/home/image-hero-coffeepress-sm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 500px;

  color: var(--clr-neutral-200);
}
.hero .p {
  opacity: 80%;
}
.hero .btn {
  margin-top: 1rem;
}

/************ Our Collection Section ***************/
.our-collection {
  margin-top: 7.5rem;
}
.our-collection__grid {
  display: grid;
  justify-items: center;
}
.our-collection__card {
  display: grid;
  justify-items: center;
  margin-top: 1.5rem;
}
.our-collection img {
  margin-top: 3rem;
  width: 200px;
}
.our-collection img:first-of-type {
  margin-top: 1rem;
}
.our-collection .p {
  margin-top: 1rem;
  text-align: center;
  margin-inline: 2rem;
}

/************ Why Us Section ***************/
.why-us {
  position: relative;
  margin-top: 7.5rem;
  color: var(--clr-neutral-200);
}
.why-us::after {
  position: absolute;
  z-index: -1;
  isolation: isolate;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 902px;
  background-color: var(--clr-neutral-900);
  border-radius: 10px;
}
.why-us .heading--2 {
  padding-top: 4rem;
  text-align: center;
}
.why-us .p {
  margin-top: 1rem;
  text-align: center;
  padding-inline: 1.5rem;
  opacity: 80%;
}
.why-us__card {
  height: 382px;
  display: grid;
  align-content: flex-start;
  justify-items: center;
  background-color: var(--clr-primary-400);
  border-radius: 8px;
  margin-inline: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 4.5rem;
}
.why-us__card:first-of-type {
  margin-top: 4rem;
}
.why-us__card .heading--5 {
  margin-top: 3.5rem;
  text-align: center;
}

/************ How It Works Section ***************/
.how-it-works {
  margin-top: 7.5rem;
  display: grid;
  justify-items: center;
}
.how-it-works__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  counter-reset: how-it-works-item;
}
.how-it-works .heading--5 {
  color: var(--clr-neutral-700);
  text-align: center;
  margin-bottom: 1.5rem;
}
.how-it-works .heading--4::before {
  display: block;
  counter-increment: how-it-works-item;
  content: counter(how-it-works-item, decimal-leading-zero);

  margin-bottom: 1.5rem;
  margin-top: 3.5rem;

  font-size: 4.5rem;
  font-family: var(--ff-display);
  font-weight: var(--fw-black);
  line-height: 1;
  letter-spacing: 3.6px;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  text-align: center;

  color: var(--clr-accent-400);
}
.how-it-works .btn {
  margin-top: 5rem;
}

/************ Footer ***************/
.footer {
  display: grid;
  justify-content: center;
  margin-top: 7.5rem;
  color: var(--clr-neutral-200);
  background-color: var(--clr-neutral-900);
  text-align: center;
  padding: 3.375rem;
}
.footer .menu {
  margin-top: 3rem;
}
.footer a {
  color: var(--clr-neutral-700);
}
.footer .menu__options {
  display: grid;
  gap: 1.5rem;
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .container {
    --_container-margin: 2.5rem; /* tablet */
  }
  .header img {
    zoom: 1;
  }
  .menu__toggle {
    display: none;
  }
  .menu__options {
    display: flex;
    gap: 2rem;
  }
  .hero {
    background-image: url(assets/home/image-hero-coffeepress-md.jpg);
    justify-items: flex-start;
    padding-inline: 3.625rem;
    margin-top: 3.375rem;
  }
  .hero .heading--1 {
    width: 60%;
  }
  .hero .p {
    width: 65%;
  }

  .our-collection__grid {
    grid-template-columns: 1fr 1fr;
    margin-inline: 3.626rem;
    align-items: center;
    margin-top: -2.7rem;
  }
  .our-collection__card {
    justify-items: flex-start;
    gap: 1.5rem;
    margin: 0;
  }
  .our-collection__card .p {
    margin: 0;
    text-align: left;
  }
  .why-us {
    margin-top: 9rem;
  }
  .why-us::after {
    height: 573px;
  }
  .why-us .heading--2 {
    font-size: 2rem;
    line-height: 3.5rem;
    padding-top: 3.5rem;
  }
  .why-us .p {
    padding-inline: 4.625rem;
    margin-right: 2.5rem;
  }
  .why-us__card {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 2fr;
    height: 180px;
    padding: 0;
  }
  .why-us__card:first-of-type {
    margin-top: 4.375rem;
  }
  .why-us__card .heading--5 {
    margin-top: 0;
    text-align: left;
  }
  .why-us__card img {
    width: 56px;
  }
  .why-us__card .p {
    text-align: left;
    padding-inline: 0;
  }

  .how-it-works {
    margin-top: 9rem;
    justify-items: flex-start;
  }
  .how-it-works .heading--4 {
    margin-bottom: 0.875rem;
  }
  .how-it-works .heading--4::before {
    text-align: left;
    margin-bottom: 2.625rem;
    margin-top: 3rem;
  }
  .how-it-works__list {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1.7rem;
  }
  .how-it-works .btn {
    margin-top: 2.75rem;
  }
  .how-it-works__ball {
    position: relative;
    justify-self: flex-start;
    width: 31px;
    height: 31px;
    border: 2px solid var(--clr-primary-400);
    background-color: var(--clr-neutral-200);
    border-radius: 50%;
  }
  .how-it-works__line::after {
    z-index: -1;
    position: absolute;
    bottom: calc(50% - 1px);
    left: 0;
    right: 0;
    content: "";
    background-color: var(--clr-accent-400);
    width: 32vw;
    height: 2px;
  }
  .how-it-works .heading--5 {
    margin-bottom: 2.5rem;
  }
  .footer {
    justify-content: space-around;
    justify-items: center;
    margin-bottom: 4.5rem;
  }
  .footer .menu {
    margin-top: 2rem;
  }
  .footer .menu__options {
    grid-template-columns: repeat(3, auto);
    justify-items: flex-start;
    gap: 2rem;
  }
  .footer__social {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding-top: 2.5rem;
  }
  .hero {
    margin-top: 2.5rem;
    gap: 2rem;
    background-image: url(assets/home/image-hero-coffeepress-lg.jpg);
    height: 600px;
  }
  .hero .heading--1 {
    width: 50%;
  }
  .hero .p {
    width: 35%;
  }
  .our-collection__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;

    margin-top: -6rem;
  }
  .our-collection__card {
    justify-items: center;
  }
  .our-collection__card .p {
    text-align: center;
    margin-inline: 1rem;
  }
  .why-us__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 5.3125rem;
    margin-top: 5.375rem;
    gap: 1.875rem;
  }
  .why-us .heading--2 {
    padding-top: 6.25rem;
  }
  .why-us::after {
    height: 577px;
  }
  .why-us .p {
    margin-top: 2rem;
  }
  .why-us__card {
    margin: 0;
    padding: 0;
    height: 382px;
    padding: 3rem;

    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    gap: 3.5rem;
  }
  .why-us__card .heading--5 {
    text-align: center;
  }
  .why-us__card .p {
    text-align: center;
    margin: 0;
    margin-top: 1.5rem;
  }
  .why-us__card:first-of-type {
    margin: 0;
  }
  .how-it-works {
    margin-top: 12.5rem;
    padding-inline: 5.3125rem;
  }
  .how-it-works__list {
    margin-top: 5rem;
    justify-self: stretch;
    justify-content: space-between;
    justify-items: flex-start;
    gap: 1.875rem;
  }
  .how-it-works__line::after {
    max-width: 35vw;
  }
  .how-it-works .heading--4 {
    font-size: 2rem;
    width: 10ch;
  }
  .how-it-works__list .heading--4::before {
    margin: 0;
    margin-top: 2.3125rem;
    margin-bottom: 2.375rem;
  }
  .how-it-works__list .p {
    margin-top: 0.75rem;
    width: 30ch;
  }
  .how-it-works .btn {
    margin-top: 4rem;
  }
  .how-it-works__background {
    background-color: aqua;
  }
  .footer {
    display: flex;
    align-items: center;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, auto);
    margin-inline: 5.3125rem;
  }
  .footer__social {
    margin: 0;
    margin-left: auto;
  }
  .footer .menu {
    margin-top: 0;
    margin-left: 10rem;
  }
  .footer .menu__options {
    justify-content: stretch;
    height: fit-content;
  }
  .footer__social img {
    width: 24px;
    height: 24px;
  }
}

/********************************************************
  Components
 ********************************************************/
.btn {
  padding-inline: 2rem;
  padding-block: 1rem;

  color: var(--clr-neutral-200);
  background-color: var(--clr-primary-400);
  outline: 0;
  border: 0;
  border-radius: 6px;
}

/********************************************************
  Utilities 
 ********************************************************/

/*----------------------------------------------------------
  visually-hidden (aka sr-only)

    leave display alone and alter other properties to make
    semantically relevant elements disappear from the layout
    as seen by sighted users.
------------------------------------------------------------*/
.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
