/*******************************************************
  Global Variables
 *******************************************************/
:root {
  --clr-neutral-100: hsl(0, 0%, 100%); /* White */
  --clr-neutral-400: hsl(0, 0%, 63%); /* Dark Gray */
  --clr-neutral-700: hsl(0, 0%, 27%); /* Very Dark Gray */
  --clr-neutral-900: hsl(0, 0%, 0%); /* Black */

  --fs-base: 1rem;
  --ff-base: "League Spartan", sans-serif;
  --fw-regular: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/*******************************************************
  Resets
 *******************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li,
a,
p,
button,
body {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/*
 * .visually-hidden preserves navigation by screen reader while hiding visually
 */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.modal {
  overflow: hidden;
}

.icon--hamburger {
  width: 20px;
  height: 14px;

  fill: var(--menu-color, currentcolor);

  user-select: none;
  cursor: pointer;
}
.icon--close {
  width: 16px;
  height: 16px;

  color: var(--menu-color, currentcolor);

  user-select: none;
  cursor: pointer;
}
.icon--close:hover {
  fill: var(--menu-hover-color, currentcolor);
}
.icon--logo {
  width: 62px;
  height: 14px;

  fill: var(--clr-neutral-100);
}

/*****************************************************************************
  .menu

    The menu provides a responsive menu with mobile/tablet/desktop breakpoints.
    When collapsed a hamburger menu is shown on right.

    Expanded styling is controlled with the following accessory classes:
    .menu--full          - the mobile menu covers the entire screen when opened
    .menu--full-top      - the mobile menu covers the entire top left to right
    .menu--full-right    - the mobile menu is full height on the right
    .menu--inset         - the mobile menu is inset below the menu bar

    .menu__logo a        - provides an embedded logo (optional)
    .menu__toggle button - provides the mobile hamburger menu button
    .menu__overlay div   - is required to cover the underlying content
    .menu__options ul    - provides the list of menu options
    .menu__break         - provides a visible separator/gap to group menus
 *****************************************************************************/
.menu {
  --menu-gap: 2rem;
  --menu-vertical-gap: 1rem;
  --menu-background-color: hsl(0 0% 100% / 0%);
  --menu-popup-color: var(--clr-neutral-900);
  --menu-popup-background-color: var(--clr-neutral-100);
  --menu-color: var(--clr-neutral-100);
  --menu-hover-color: var(--clr-neutral-400);
  --menu-padding-block: 1.5rem;
  --menu-padding-inline: 1rem;
  --menu-overlay-color: hsl(0 0% 0% / 50%);

  position: absolute;
  width: 100%;
  display: flex;
  z-index: 3;
  align-items: center;
  gap: var(--menu-gap);

  padding-block: var(--menu-padding-block);
  padding-inline: var(--menu-padding-inline);

  background-color: var(--menu-background-color);
}
.menu__overlay {
  display: none;
  height: 100vh;
  z-index: 3;
}
.menu__toggle[aria-expanded="true"] ~ .menu__overlay {
  position: absolute;
  display: block;
  inset: 0;
  z-index: 3;

  background-color: var(--menu-overlay-color);
}
.menu__toggle {
  margin-left: auto;
  border: 0;

  background-color: transparent;
}
.menu__toggle:hover {
  --menu-color: white;
}

.menu__options {
  position: absolute;
  z-index: 3;
  display: none;
  align-content: flex-start;
  align-items: center;
  gap: var(--menu-vertical-gap);

  background-color: var(--menu-background-color);
}
.menu__options li {
  width: fit-content;
}
.menu__toggle[aria-expanded="true"] ~ .menu__options {
  display: grid;
}

.menu--full-right .menu__toggle[aria-expanded="true"] ~ .menu__options {
  top: 0;
  right: 0;
  bottom: 0;

  padding: 4rem;
}
.menu--full-top .menu__toggle[aria-expanded="true"] ~ .menu__options {
  grid-auto-flow: column;

  top: 0;
  left: 0;
  right: 0;

  padding-block: 3rem;
  padding-inline: 1.625rem;

  background-color: var(--menu-popup-background-color);
}
.menu--full .menu__toggle[aria-expanded="true"] ~ .menu__options {
  inset: 0;
}
.menu--inset .menu__toggle[aria-expanded="true"] ~ .menu__options {
  top: 5rem;
  left: 2rem;
  right: 2rem;

  padding: 2rem;
}
.menu a {
  font-family: var(--ff-base);
  font-size: 1rem;
  color: var(--menu-popup-color, black);

  /*
  color: var(--menu-color);
  */
  text-transform: lowercase;
  text-decoration: none;
  user-select: none;
}
.menu a:hover {
  border-bottom: 2px solid var(--clr-neutral-100);
}
.menu__logo {
  font-size: 1.5rem;
  font-weight: bold;

  user-select: none;
  cursor: pointer;
}
.menu__logo:hover {
  color: var(--menu-hover-color);
  fill: var(--menu-hover-color);
}
.menu__break {
  padding-top: 1rem;
  border-top: 1px solid black;
}

/* Tablet and above */
@media screen and (min-width: 768px) {
  .menu {
    --menu-popup-color: var(--clr-neutral-100);
  }
  .menu__options {
    position: relative;
    top: auto;
    right: auto;
    z-index: 0;
    display: flex;
    gap: var(--menu-gap);

    width: 100%;
    padding: 0;
  }
  .menu__toggle {
    display: none;
  }
  .menu__label {
    display: none;
  }
  .menu__break {
    margin-left: auto;
    padding-top: 0;
    border-top: none;
  }
}

/*******************************************************
  Structure
 *******************************************************/

.heading--1 {
  font-size: 2.5rem;
  font-weight: var(--fw-semibold);
  color: var(--clr-neutral-900);
  letter-spacing: -1.6px;
}
/*
* {
  outline: 1px solid red;
}
*/
body {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-400);

  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
}
main {
  display: grid;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  overflow: scroll;
  scroll-snap-type: inline mandatory;
  overscroll-behavior: inline contain;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel--1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.carousel__controls {
  display: grid;
  grid-auto-flow: column;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: flex-end;
  align-self: flex-end;
  z-index: 2;

  width: fit-content;
  height: fit-content;
}
.carousel__controls button {
  width: 56px;
  height: 56px;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  border: 0;
}
.carousel__slide {
  width: 100%;
}
.carousel__slide img {
  width: 100vw;
  display: block;
  object-fit: cover;
  object-position: bottom;
  scroll-snap-align: start;
}
.carousel__slide-article {
  width: 100vw;
  scroll-snap-align: start;

  margin-top: 3.75rem;
  margin-bottom: 4.5rem;
  padding-inline: 2rem;
}
.carousel__slide-article .p {
  margin-top: 1rem;
}
.carousel__slide-article .btn {
  margin-top: 2.56rem;
  font-size: 1rem;
  font-weight: var(--fw-regular);
  letter-spacing: 12.5px;
  text-transform: uppercase;

  color: var(--clr-neutral-900);
  background-color: transparent;
  border: none;
}

.p {
  line-height: 1.375;
}

.about__img {
  width: 100%;
}
.about__article {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  margin-inline: 2rem;
}
.about__article .heading--2 {
  font-size: 0.875rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 5.83px;
  color: var(--clr-neutral-900);
}
.about__article .p {
  margin-top: 1rem;
}

.attribution {
  position: fixed;
  width: 100%;
  bottom: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Tablet breakpoint */
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    gap: 2rem;
  }
  .header__logo {
    margin-right: 1.5rem;
  }
  .carousel__controls button {
    width: 80px;
    height: 80px;
  }
}

/* Desktop breakpoint */
@media screen and (min-width: 1040px) {
  main {
    display: grid;
    grid-template-columns: auto 225px 160px 440px;
    grid-template-rows: auto 266px;
    grid-template-areas: "a a b b" "c d d e";
    height: 100vh;
  }
  .carousel__controls {
    grid-area: b;
    display: flex;
    align-items: flex-end;
    justify-self: flex-start;
    justify-content: flex-start;
    transform: none;
  }
  .carousel__slide img {
    display: block;
    width: calc(100vw - 600px);
    height: 100%;
    object-fit: cover;
    object-position: center;
    scroll-snap-align: start;
  }
  .carousel__slide-article {
    width: 600px;
    margin-top: 7.5rem;
    padding-inline: 6.25rem;
  }
  .carousel__slide-article .heading--1 {
    font-size: 3rem;
    letter-spacing: -2px;
    color: var(--clr-neutral-900);
  }
  .carousel--1 {
    grid-area: a;
  }
  .carousel--2 {
    grid-area: b;
  }
  .about__img--1 {
    grid-area: c;
    object-fit: cover;
    height: 100%;
    object-position: 0% 100%;
  }
  .about__article {
    grid-area: d;
  }
  .about__img--2 {
    grid-area: e;
  }
}
@media screen and (min-width: 1245px) {
  main {
    grid-template-columns: 420px auto 160px 440px;
  }
}
