/*******************************************************
  Global Variables
 *******************************************************/
:root {
  --clr-neutral-100: hsl(0, 0%, 100%); /* White */
  --clr-neutral-400: hsl(0, 0%, 63%); /* Dark Gray */
  --clr-neutral-700: hsl(0, 0%, 27%); /* Very Dark Gray */
  --clr-neutral-900: hsl(0, 0%, 0%); /* Black */

  --fs-base: 1rem;
  --ff-base: "League Spartan", sans-serif;
  --fw-regular: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/*******************************************************
  Resets
 *******************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li,
a,
p,
button,
body {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  /*
  max-width: 100%;
  */
}

.visually-hidden {
  display: none;
}
/*******************************************************
  Structure
 *******************************************************/

.heading--1 {
  font-size: 2.5rem;
  font-weight: var(--fw-semibold);
  color: var(--clr-neutral-900);
  letter-spacing: -1.6px;
}
/*
* {
  outline: 1px solid red;
}
*/
body {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-400);

  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
}
header {
  z-index: 100;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.header__menu {
  color: var(--clr-neutral-100);
  text-transform: lowercase;
}
main {
  display: grid;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  overflow: scroll;
  scroll-snap-type: inline mandatory;
  overscroll-behavior: inline contain;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel--1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.carousel__controls {
  display: grid;
  grid-auto-flow: column;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: flex-end;
  align-self: flex-end;
  z-index: 2;

  width: fit-content;
  height: fit-content;
}
.carousel__controls button {
  width: 56px;
  height: 56px;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  border: 0;
}
.carousel__slide {
  width: 100%;
}
.carousel__slide img {
  width: 100vw;
  display: block;
  object-fit: cover;
  object-position: bottom;
  scroll-snap-align: start;
}
.carousel__slide-article {
  width: 100vw;
  scroll-snap-align: start;

  margin-top: 3.75rem;
  margin-bottom: 4.5rem;
  padding-inline: 2rem;
}
.carousel__slide-article .p {
  margin-top: 1rem;
}
.carousel__slide-article .btn {
  margin-top: 2.56rem;
  font-size: 1rem;
  font-weight: var(--fw-regular);
  letter-spacing: 12.5px;
  text-transform: uppercase;

  color: var(--clr-neutral-900);
  background-color: transparent;
  border: none;
}

.p {
  line-height: 1.375;
}

.about__img {
  width: 100%;
}
.about__article {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  margin-inline: 2rem;
}
.about__article .heading--2 {
  font-size: 0.875rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 5.83px;
  color: var(--clr-neutral-900);
}
.about__article .p {
  margin-top: 1rem;
}

.attribution {
  position: fixed;
  width: 100%;
  bottom: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Tablet breakpoint */
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    gap: 2rem;
  }
  .header__logo {
    margin-right: 1.5rem;
  }
  .carousel__controls button {
    width: 80px;
    height: 80px;
  }
}

/* Desktop breakpoint */
@media screen and (min-width: 1040px) {
  main {
    display: grid;
    grid-template-columns: auto 225px 160px 440px;
    grid-template-rows: auto 266px;
    grid-template-areas: "a a b b" "c d d e";
    height: 100vh;
  }
  .carousel__controls {
    grid-area: b;
    display: flex;
    align-items: flex-end;
    justify-self: flex-start;
    justify-content: flex-start;
    transform: none;
  }
  .carousel__slide img {
    display: block;
    width: calc(100vw - 600px);
    height: 100%;
    object-fit: cover;
    object-position: center;
    scroll-snap-align: start;
  }
  .carousel__slide-article {
    width: 600px;
    margin-top: 7.5rem;
    padding-inline: 6.25rem;
  }
  .carousel__slide-article .heading--1 {
    font-size: 3rem;
    letter-spacing: -2px;
    color: var(--clr-neutral-900);
  }
  .carousel__slide-article .btn {
  }
  .carousel--1 {
    grid-area: a;
  }
  .carousel--2 {
    grid-area: b;
  }
  .about__img--1 {
    grid-area: c;
    object-fit: cover;
    height: 100%;
    object-position: 0% 100%;
  }
  .about__article {
    grid-area: d;
  }
  .about__img--2 {
    grid-area: e;
  }
}
@media screen and (min-width: 1245px) {
  main {
    grid-template-columns: 420px auto 160px 440px;
  }
}
